/* App.css */
:root{
    --colorPrincipal: #5b2c6f;
    --colorPrincipalLight:  #7d3c98;
    --colorAzul: #2e86c1;
    --colorAzulFuerte: #273746 ;
    --gris: #f2f4f4;
    --blanco: #fff;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
  }
  
  /* Hack Box Model */
  *, *:before, *:after {
    box-sizing: inherit;
  }


  .header{
    background-color: var(--colorPrincipal);
  }

  body{
    background-color: var(--gris);
  }

  .section_formulario{
    background-color:var(--colorPrincipalLight) ;
  }

  .form_btn{
    background-color: var(--colorPrincipalLight);
    border-radius: .5rem;
    text-transform: uppercase;
    color: var(--blanco);
    cursor: pointer;
    padding: 1rem;
    font-weight: 700;
    border: none; 
  }


  .form_btn:hover{
    background-color: var(--colorPrincipal);
  }


  .activity_calories{
    color: var(--colorPrincipalLight)
  }

  .comida{
    background-color: var(--colorPrincipalLight);
    padding: 1rem;
  }

  .ejercicio{
    background-color: var(--colorAzul);
    padding: 1rem;
  }

  .stats{
    background-color: var(--colorAzulFuerte);
  }

.custom-gap { gap: 1.25rem; }
.custom-mt { margin-top: 2.5rem; }

.calories_number{
  font-size: 3.8rem;
}